<div class="container">
    <h1>Angular Notes</h1>
  
    <a href="#" routerLink="/notes/create/" class="btn btn-success">Create New Note</a>
    
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let note of notes">
        <td>{{ note.id }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.content }}</td>
        <td>
          <a href="#" [routerLink]="['/notes/', note.id, 'view']" class="btn btn-info btn-view">View</a>
          <a href="#" [routerLink]="['/notes/', note.id, 'edit']" class="btn btn-primary btn-blue">Edit</a>
          <button type="button" (click)="deleteNote(note.id)" class="btn btn-danger btn-red">Delete</button>
        </td>
      </tr>
    </table>
 </div>