.header {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    width: 400px;
}

.form-label {
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-control {
    height: 40px;
    border: 1px solid #1a76d2;
    border-radius: 10px;
    padding-left: 10px;
}

.form-control-area {
    height: 120px;
    border: 1px solid #1a76d2;
    border-radius: 10px;
    padding-left: 10px;
}

.btn {
    height: 40px;
    margin: 5px;
    background: #1a76d2;
    border: 1px;
    border-radius: 10px;
}

.notetitle {
    display: flex;
    margin-top: 10px;
}

.contentHead {
    width: 85px;
}

.boldContent {
    font-size: 15px;
    font-weight: bold;
}

.notesListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noteRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cursor-class {
    cursor: pointer;
    text-decoration: underline;
}

.custom-width {
    width: 70%;
}