
  <div class="container">
    <div [hidden]="update">
      <form (ngSubmit)="onSubmit();" #noteForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" required [(ngModel)]="model.title"
            name="title" #title="ngModel">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control form-control-area" id="content" required rows="3" id="content"
            [(ngModel)]="model.content" name="content" #content="ngModel"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!noteForm.form.valid">Submit</button>
      </form>
    </div>

    <div [hidden]="!update">
      <form (ngSubmit)="onUpdate();" #noteForm="ngForm">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title"
            #title="ngModel">
        </div>

        <div class="form-group">
          <label for="alterEgo">Content</label>
          <textarea class="form-control form-control-area" id="content" required rows="3" id="content"
            [(ngModel)]="model.content" name="content" #content="ngModel"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!noteForm.form.valid">Submit</button>

      </form>
    </div>

    <!-- <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Title</div>
      <div class="col-xs-9">{{ model.title }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Content</div>
      <div class="col-xs-9">{{ model.content }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    <button type="button" class="btn btn-default" (click)="submitted=false; newHero(); heroForm.reset()">New Content</button>
  </div> -->


  </div>


  <div>
    <div class="notesListHeader">
      <h2>Notes:</h2>
      <div class="cursor-class" (click)="newHero(); noteForm.reset()">Create new</div>
    </div>
    <div class="list-group">
      <div *ngFor="let note of notes"
        class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 custom-width">{{ note.title }}</h5>
          <small class="cursor-class" (click)="onEditPress(note)">edit</small><small class="cursor-class"
            (click)="onDeletePress(note.id)">delete</small>
        </div>
        <p class="mb-1 custom-width">{{ note.content }}</p>
      </div>
    </div>
  </div>
